@page "/contactus"
      <div class="bg-white py-5">
		<div class="container py-5">
		  <div class="row align-items-center mb-5">
			<div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-success"></i>
			  <h2 class="font-weight-light">Pete Gallagher</h2>
			  <p class="font-italic text-muted mb-4">Pete is a Freelance Programmer, Microsoft Azure MVP, Pluralsight Author, Public Speaker, and STEM Ambassador. He is the co-organiser of multiple meetups including Notts IoT, Dot Net Notts, and Notts Dev Workshop
			</p><a href="contactus/#contactusteam" class="btn btn-light px-5 rounded-pill shadow-sm">Contact Us</a>
			</div>
			<div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/dsfcrod4r/image/upload/v1601311468/.NET%20Notts/Pete_ashxih.jpg" alt="" class="img-fluid mb-4 mb-lg-0 img-thumbnail"></div>
		  </div>
		  <div class="row align-items-center">
			<div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/dsfcrod4r/image/upload/v1601311587/.NET%20Notts/Jess_a9lajy.jpg" alt="" class="img-fluid mb-4 mb-lg-0 img-thumbnail"></div>
			<div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-success"></i>
			  <h2 class="font-weight-light">Jessica White</h2>
			  <p class="font-italic text-muted mb-4">Jessica is a developer, international speaker, and MVP in Developer Technologies. She founded Women In Tech Nottingham, which she handed over to new organisers in 2017, and co-organises the DDD East Midland Conference.
			</p><a href="contactus/#contactusteam" class="btn btn-light px-5 rounded-pill shadow-sm">Contact Us</a>
			</div>
		  </div>
		</div>
	  </div>

	 
<div class=" contactUsGeneral mx-0 my-4 py-5" style="background-color: #4bd1bb;">
	<div class="row align-items-center">
		<div class=" mx-auto">
			<div class=" mx-auto">
				<h1 class="text-dark  text-center ">General Meetup contact details</h1>
			  <h4 class="text-muted">You can contact the organisers on any of the meetups social media sites. Both Pete and Jessica have access.</h4>
			  @* <button type="button" class="btn btn-dark btn-lg" style="margin:40px 25px 50px 1px ;text-align:center" data-toggle="collapse" data-target="#demo"><i class="fa fa-address-book fa-lg"></i> contact Us</button> *@
			  <div class="btn-group my-3">
  				<button type="button" class="btn btn-dark btn-lg"><a href="https://www.meetup.com/dotnetnotts" class="social-link"><i class="fa fa-meetup fa-lg text-light"></i></a></button>
  				<button type="button" class="btn btn-outline-light btn-lg"><a href="https://twitter.com/dotnetnotts" class="social-link"><i class="text-dark fa fa-twitter fa-lg"></i></a></button>
  				<button type="button" class="btn btn-dark btn-lg"><a href="https://www.linkedin.com/company/dotnet-notts" class="social-link"><i class="fa fa-linkedin fa-lg text-light"></i></a></button>
</div>
			</div>
		</div>
	</div>
</div>
	  

	  <div class="bg-light py-3">
		<div class="container py-5">
		  <div class="row mb-2">
			<div class="col-lg-5">
			  <h2 class="display-4 font-weight-light">Organisers</h2>
			  <p class="font-italic text-muted">People that make it happen....</p>
			</div>
		  </div>
	  
		  <div class="row text-center align-content-center" id="contactusteam">
			<!-- Team item-->
			<div class="col-xl-3 col-sm-6 mb-5 mx-auto">
			  <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
				<h5 class="mb-0">Jessica White</h5><span class="small text-uppercase text-muted">Organisers</span>
				<ul class="social mb-0 list-inline mt-3">
					<li class="list-inline-item"><a href="mailto:me@jesswhite.co.uk" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
					<li class="list-inline-item"><a href="https://twitter.com/JessPWhite" class="social-link"><i class="fa fa-twitter"></i></a></li>
					<li class="list-inline-item"><a href="https://jesswhite.co.uk/" class="social-link"><i class="fa fa-internet-explorer"></i></a></li>
				</ul>
			  </div>
			</div>
			<!-- End-->
	  
			<!-- Team item-->
			<div class="col-xl-3 col-sm-6 mb-5 mx-auto">
			  <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
				<h5 class="mb-0">Pete Gallagher</h5><span class="small text-uppercase text-muted">Organisers</span>
				<ul class="social mb-0 list-inline mt-3">
				  <li class="list-inline-item"><a href="mailto:pete@pjgcreations.co.uk" class="social-link"><i class="fa fa-envelope-o"></i></a></li>
				  <li class="list-inline-item"><a href="https://twitter.com/pete_codes" class="social-link"><i class="fa fa-twitter"></i></a></li>
				  <li class="list-inline-item"><a href="https://www.petecodes.co.uk/" class="social-link"><i class="fa fa-internet-explorer"></i></a></li>
				  
				</ul>
			  </div>
			</div>
			<!-- End-->
	  
		
	  
		  </div>
		</div>
	  </div>


@code {

}
