/* /Shared/NavMenu.razor.rz.scp.css */
.main-nav-container[b-aoq0l4rmg8] {
    width: 100%;
}

.navbar-brand[b-aoq0l4rmg8] {
    height: 5rem;
    width: 5rem;
    float: left;
}

.main-logo[b-aoq0l4rmg8] {
    height: 4rem;
    width: auto;
}

.hamburger[b-aoq0l4rmg8] {
    margin: 1.6rem 1.25rem;
    float: right;
    background-color: #fff;
    border: none;
    display: none;
    color: black;
}

.hamburger-icon[b-aoq0l4rmg8] {
    font-size: 1.5rem;
}

.nav-menu ul[b-aoq0l4rmg8] {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav-menu li[b-aoq0l4rmg8] {
    display: block;
    flex: 0 1 auto;
    list-style-type: none;
}

.nav-menu-links[b-aoq0l4rmg8] {
    float: right;
    padding-top: 1.25rem;
}

.nav-link[b-aoq0l4rmg8] {
    float: left;
}

.nav-menu-links .icon[b-aoq0l4rmg8] {
    float: left;
    display: none;
}

@media screen and (max-width: 960px) {
    .hamburger[b-aoq0l4rmg8] {
        display: unset;
    }

    .nav-menu-links[b-aoq0l4rmg8] {
        float: unset;
    }

    .nav-menu ul[b-aoq0l4rmg8] {
        flex-direction: column;
        align-items: center;
    }

    .hide-menu[b-aoq0l4rmg8] {
        display: none;
    }
}
