@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html,
body {
    font-family: 'Open Sans', sans-serif;
}

h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

h4{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
}

a {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #16A085;
}

p{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

li{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

section{
    margin-bottom: 5%;
}

.text-light{
    color: white;
}

.btn{
    margin-left: 5px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #05BD9E;
    margin-top: 15px;
}

.btn-link {
    color: #000000;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    display: flex;
    align-items: center;
    z-index: 999999;
}

.bottom-row {
    height: 4.5rem;
    display: flex;
    align-items: center;
    z-index: 999999;
}

span {
    display: inline-block;
    margin: 20px 0;
}

iframe {
    display: block;
    border-style:none;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #ffffff;
    border-bottom: 1px solid #163a34;
    justify-content: flex-end;
}

.main .top-row>a,
.main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    text-align: center;
}

.header-image {
    background-image: url(/images/header-image.png);
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.67) !important;
    width: 100%;
    text-align: center;
}

.header-image-text {
    padding: 9em 1em !important;
}

.header-image-text h1 {
    font-size: 5rem;
}

.header-text {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.content {
    padding-top: 1.1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.main-nav-container {
    width: 100%;
}

.main-nav-container .nav-link,
.main-nav-container a {
    color: #05bd9e !important;
}

#nav {
    z-index: 9999;
}

.main-footer-container {
    background-color: #05bd9e !important;
    width: 100%;
}

.main-footer-container .nav-link,
.main-footer-container a {
    color: #fff !important;
}

.footer-menu-links {
    float: right;
    padding-top: 20px;
}

.footer-menu-links-left {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.footer-link {
    float: left;
    padding: .5rem 1rem;
    margin-bottom: 10px;
}

.banner{
    background: #05BD9E;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
}

.banner h3 a{
    color: #fff;
}

.btn-rounded {
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 20px 2px;
    border-radius: 12px;
    background-color: #16a085;
}
    .btn-rounded > a {
        margin-top: 15px;
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.embed-container { 
    padding-bottom: 315px; 
    height: 0; 
    max-width: 100%; 
    text-align: center;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    top: 0; 
    width: 560px;; 
    height: 315px;
    margin: auto;
    left: 50%;
}

.contactUsGeneral{
    border-style: dashed;
    border-color: #05BD9E;
}

.sponsors {
    text-align: center;
}

.sponsors-logo {
    height: 6.25rem;
    width: auto;
    margin: 20px 20px 50px;
}

/* smartphones */
@media (min-width:320px){

    .content {
        padding-top: 1.1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .header-image-text {
        padding: 5em 1em !important;
    }

    .nav-menu-links .icon {
        display: block;
    }

    .img-thumbnail {
        padding: .25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: .25rem;
        max-width: 200px;
        height: auto;
    }

    .embed-container { 
        padding-top: 20px;
        padding-bottom: 200px; 
        height: 0; 
        max-width: 100%; 
        text-align: center;
    }

    .embed-container iframe, .embed-container object, .embed-container embed { 
        top: 0; 
        width: 260px;; 
        height: 200px;
        margin: auto;
        left: 50%;
    }

    .sponsors-logo {
        height: 6.25rem !important;
        width: auto;
        margin: 20px 20px 50px;
    }
}

/* tablets */
@media (min-width:600px){

    .content {
        padding-top: 1.1rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .header-image-text {
        padding: 5em 1em !important;
    }

    .nav-menu-links .icon {
        display: block;
    }

    .embed-container { 
        padding-top: 20px;
        padding-bottom: 200px; 
        height: 0; 
        max-width: 100%; 
        text-align: center;
    }

    .embed-container iframe, .embed-container object, .embed-container embed { 
        top: 0; 
        width: 260px;; 
        height: 200px;
        margin: auto;
        left: 50%;
    }
}

/* desktop */
@media (min-width:1025px){
    .content {
        padding-top: 1.1rem;
        padding-left: 10rem;
        padding-right: 10rem;
    }

    .header-image-text {
        padding: 9em 1em !important;
    }
    
    .navbar-brand {
        display: block;
        margin-right: 0;
    }

    .nav-menu-links .icon {
        display: none;
    }

    .embed-container { 
        padding-top: 20px;
        padding-bottom: 315px; 
        height: 0; 
        max-width: 100%; 
        text-align: center;
    } 
    
    .embed-container iframe, .embed-container object, .embed-container embed { 
        top: 0; 
        width: 560px;; 
        height: 315px;
        margin: auto;
        left: 50%;
    }
}

@media (max-width: 768px) {

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a,
    .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }
    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .sponsors {
        text-align: center;
    }

    .sponsors-logo {
        height: 6.25rem;
        width: auto;
        margin: 20px 20px 50px;
    }
}