@import url("open-iconic/font/css/open-iconic-bootstrap.min.css");

html,
body {
    font-family: Bahnschrift;
}

h2{
    font-family: Bahnschrift;
    text-align: center;
    margin-bottom: 20px;
}

a {
    font-size: 18px;
    font-family: Bahnschrift;
    color: #16A085;
}

p{
    font-size: 18px;
    font-family: Bahnschrift;
}

li{
    font-size: 18px;
    font-family: Bahnschrift;
}

section{
    margin-bottom: 5%;
}

.text-light{
    color: white;
}

.btn{
    margin-left: 5px;
    font-size: 18px;
    font-family: Bahnschrift;
}

.btn-link {
    color: #000000;
}

.main-logo {
    height: 25%;
    width: 25%;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 4.5rem;
    display: flex;
    align-items: center;
}

span {
    display: inline-block;
    margin: 20px 0;
}

iframe {
    display: block;
    border-style:none;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #ffffff;
    border-bottom: 1px solid #163a34;
    justify-content: flex-end;
}

.main .top-row>a,
.main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.center {
    text-align: center;
}

.header-image {
    background-image: url(/images/header-image.png);
    background-position: 50% 50%;
    background-size: cover;
    color: #fff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.67) !important;
    width: 100%;
    text-align: center;
}

.header-image-text {
    padding: 9em 1em !important;
}

.header-image-text h1 {
    font-size: 5rem;
}

.header-text {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.content {
    padding-top: 1.1rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.main-nav-container {
    width: 100%;
}

.main-nav-container .nav-link,
.main-nav-container a {
    color: #05bd9e !important;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    height: 20%;
    width: 20%;
    float: left;
}

.nav-menu-links {
    float: right;
    padding-top: 20px;
}

.nav-link {
    float: left;
}

.btn-rounded {
    border: none;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin: 20px 2px;
    border-radius: 12px;
    background-color: #16a085;
}
    .btn-rounded > a {
        margin-top: 15px;
        color: white;
        text-decoration: none;
        font-size: 18px;
    }

.valid.modified:not([type="checkbox"]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
    text-align: center;
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 80%; 
    height: 80%; 
}

.sponsors {
    text-align: center;
}

.sponsors-logo {
    height: 6.25rem;
    width: auto;
    margin: 20px 20px 50px;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a,
    .main .top-row .btn-link {
        margin-left: 0;
    }

    .main-logo {
        height: 5%;
        width: 5%;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .sponsors {
        text-align: center;
    }

    .sponsors-logo {
        height: 6.25rem;
        width: auto;
        margin: 20px 20px 50px;
    }


}
