@page "/codeofconduct"
@{
    const int tabindex = 0;
}

<div data-bind="page: { id: 'codeofconduct', title: 'Code Of Conduct - dot net notts', sourceOnShow: 'codeofconduct.html', withOnShow: globalOnShow, sourceCache: true }" style="display: block;">

    <section>
        <div class="header-text">
            <h1 tabindex="@(tabindex)">Code Of Conduct</h1>
        </div>
        <hr/>
    </section>

    <section id="quick-version">
        <div class="row">
            <div class="col-xs-12">
                <h2 tabindex="0">The Quick Version</h2>
                <p tabindex="0">
                    <strong>Treat everyone in a respectful and kind manner.</strong>
                </p>
                <p tabindex="0">
                    Harassment and abuse are never tolerated.
                    <strong>
                        If you are in any situation that makes
                        you feel uncomfortable, unsafe or excluded including but not limited to the following:
                    </strong>
                </p>
                <li tabindex="0">
                    you are in a situation that
                    makes you uncomfortable at a .NET Notts event or associated account
                </li>
                <li tabindex="0">
                    the event itself is creating an unsafe or inappropriate
                    environment for you
                </li>
                <li tabindex="0">
                    you are made to feel uncomfortable by anyone at
                    any of our events or in our online communities
                </li>
                <br>
                <p tabindex="0">
                    <strong>Please contact one of the organisers of .NET Notts.</strong>
                </p>
            </div>
        </div>
    </section>

    <section id="full-version">
        <div class="row">
            <div class="col-xs-12">
                <h2 tabindex="0">The Full Version</h2>
                <p tabindex="0">
                    We believe that every single person has the right to take part in .NET Notts events
                    and online communities in a safe and welcoming environment. Inclusivity is important to us.
                </p>
                <p tabindex="0">
                    In order to avoid any situtations where an attendee may feel
                    uncomfortable we ask that you not only treat others in the
                    manner that you would expect to be treated, but also to
                    respect what makes other people feel comfortable. As part of
                    this we ask that speakers and representatives of the event try
                    to refrain from language or actions that may be considered
                    offensive.
                </p>
                <p tabindex="0">
                    Harassment includes but is not limited to offensive verbal or
                    written comments related to gender, age, sexual orientation,
                    sexual behaviour, disability, physical appearance, body size,
                    race, religion, sexual images in public spaces, deliberate
                    intimidation, stalking, following, harassing photography or
                    recording, sustained disruption of talks or other events,
                    inappropriate physical contact, and unwelcome sexual
                    attention.
                </p>
                <p tabindex="0">
                    If what you’re doing is making someone feel uncomfortable,
                    that counts as harassment and is enough reason to stop doing
                    it.
                </p>
                <p tabindex="0">
                    Participants asked to stop any harassing behaviour are
                    expected to comply immediately. Sponsors, organisers,
                    speakers, volunteers, and anyone else at any of
                    our events or in our online communities are also subject to
                    the anti-harassment policy. In particular, anyone involved should
                    not use sexualised images, humour, activities, or other
                    material in presentations, during events and on our online
                    community.
                </p>
                <p tabindex="0">
                    If a participant engages in harassing behaviour, .NET Notts
                    may take any action .NET Notts deems
                    appropriate, including warning the offender or expulsion from
                    the events and our online communities with no eligibility for
                    reimbursement or refund of any type.
                </p>
                <p tabindex="0">
                    If you are being harassed, notice that someone else is being
                    harassed, or have any other concerns, please contact an
                    organiser.
                </p>
                <p tabindex="0">
                    .NET Notts representatives will be happy to help
                    participants contact venue security or local law enforcement,
                    provide escorts, or otherwise assist those experiencing
                    harassment to feel safe while involved in our
                    events and our online communities.
                </p>
                <p tabindex="0">
                    For in person events The facilities provided at venues including
                    networks, internet access, wifi, power supply, furniture,
                    toilets and the physical environment in general, must be used
                    with respect, in full accordance of the law, the terms of this
                    document and any additional terms laid out at the event. When
                    breaches of these terms take place .NET Notts may take
                    any action they deem appropriate, including
                    warning the offender, expulsion from the events and our online
                    communities with no eligibility for reimbursement or refund of
                    any type, or even involving law enforcement.
                </p>
            </div>
        </div>
    </section>

    <section id="violations">
        <div class="row">
            <div class="col-xs-12">
                <h2 tabindex="0" id="reporting-coc">Reporting Code Of Conduct Violations</h2>
                <p tabindex="0">
                    If there is any circumstance where want to report a code of
                    conduct violation, please contact one of the organisers.
                </p>
                <p tabindex="0">
                    All conversations around code of conduct
                    violations will be dealt with sensitively and confidentially.
                    We will attempt to respond promptly but there may be some delay.
                </p>
                <p tabindex="0">
                    For in person events, both organisers can be approached in person as well.
                </p>
            </div>
        </div>
    </section>

    <section id="recruitment">
        <div class="row">
            <div class="col-xs-12">
                <h2 tabindex="0" name="recruitment">Approaching People About Jobs</h2>
                <p tabindex="0">
                    At our events and on our online community it is not considered
                    acceptable to approach people unsolicited about jobs, it
                    doesn't make for a welcoming environment and it isn't what our
                    community is for.
                </p>
                <p tabindex="0">
                    Job promotions should include the name of the role, the name
                    of the company and information about where people can find out
                    more and apply.
                </p>
            </div>
        </div>
        <br/>
        <br/>
    </section>

</div>

@code {

}