@page "/contactus"
@{
    var tabindex = 0;
}

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <h2 tabindex="@(tabindex)" class="font-weight-light">Pete Gallagher</h2>
                <p class="text-muted mb-4">
                    Pete is a Full Stack Development Manager at Avanade UK, Microsoft Azure MVP, International Speaker, Pluralsight Author, Streamer, Podcaster, and STEM Ambassador. He is the co-organiser of multiple meetups including Notts IoT, Dot Net Notts, and Notts Dev Workshop.
                </p>
                <a href="https://twitter.com/pete_codes" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">Twitter</a>
                <a href="https://www.linkedin.com/in/pjgcreations/" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">LinkedIn</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
                <img src="https://res.cloudinary.com/dsfcrod4r/image/upload/v1601311468/.NET%20Notts/Pete_ashxih.jpg" alt="" class="img-fluid mb-4 mb-lg-0 img-thumbnail">
            </div>
        </div>

        <div class="row center">
            <div class="col-lg-5 px-5 mx-auto">
                <img src="https://res.cloudinary.com/dsfcrod4r/image/upload/v1601311587/.NET%20Notts/Jess_a9lajy.jpg" alt="" class="img-fluid mb-4 mb-lg-0 img-thumbnail">
            </div>
            <div class="col-lg-6">
                <h2 tabindex="@(tabindex)" class="font-weight-light">Jessica Brentnall</h2>
                <p class="text-muted mb-4">
                    Jessica is an architect, international speaker, and MVP in Developer Technologies. She co-organises and co-founded the DDD East Midland Conference and is on the .NET Foundation Board of Directors.
                </p>
                <a href="https://www.linkedin.com/in/jessica-brentnall" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">LinkedIn</a>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="contactUsGeneral mx-0 my-4 py-5">
        <div class=" mx-auto">
            <h1 tabindex="@(tabindex)" class="text-center">General Meetup contact details</h1>
            <hr/>
            <div>
                <p class="text-center">You can contact the organisers on any of the meetups social media sites. Both Pete and Jessica have access.</p>
                <br/>
                <div class="center">
                    <a href="https://www.meetup.com/dotnetnotts" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">Meetup</a>
                    <a href="https://twitter.com/dotnetnotts" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">Twitter</a>
                    <a href="https://www.linkedin.com/company/dotnet-notts/" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
</section>

@code {

}