@page "/"
@{
    var tabindex = 0;
}

<section id="about">
    <h2>About Us</h2>
    <div class="center">
       <p> 
           Welcome! .NET Notts is a monthly user group based in Nottingham, UK.
       </p>
       <p>
           All of our events are currently hosted virtually on Zoom and live streamed to YouTube. You can also keep an eye on our event on the following social media accounts:
       </p>
       <a href="https://twitter.com/dotnetnotts" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">Twitter</a>
       <a href="https://www.meetup.com/dotnetnotts/" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">Meetup</a>
       <a href="https://www.linkedin.com/company/dotnet-notts" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">LinkedIn</a>
       <a href="https://www.youtube.com/channel/UC6N65W35hZMcVXeqq3Vi5Iw" target="_blank" class="btn btn-light px-5 rounded-pill shadow-sm">YouTube</a>
    </div>
</section>

<section id="upcoming-talks">
    <h2>Upcoming Events</h2>
    <p>

    </p>
    <div>
    </div>
</section>

<section id="past-talks">
    <h2>Past Events</h2>
    <p class="center">
        To see talks from our past events head over to our <a href="" target="_blank">YouTube Channel</a>
    </p>
    <div class='embed-container'>
        <iframe src="https://www.youtube.com/embed/videoseries?list=PLIRh22aD5gduWWQDjpwT9_ZAsjDsMmJ0w" frameborder='0' allowfullscreen></iframe>
    </div>
</section>

<section class="sponsors">
    <h3>Our Sponsers</h3>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.cordius.co.uk/" target="__blank">
                <img class="sponsors-logo img-thumbnail" src="/images/sponsors/cordius.png" alt="cordius-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.jetbrains.com/" target="__blank">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/jetbrains.png" alt="jetbrains-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.pjgcreations.co.uk/" target="__blank">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/pjgcreations.jpg" alt="pjgcreations-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://stkrs.co.uk/" target="__blank">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/stkrs.png" alt="stkrs-logo">
            </a>
        </div>
    </div>
</section>