@page "/"
@{
    var tabindex = 0;
}

<section id="about">
    <h2>About Us</h2>
    <p>
        Welcome! .NET Notts is a monthly user group based in Nottingham, UK.
    </p>
    <div>
    </div>
</section>

<section id="upcoming-talks">
    <h2>Upcoming Events</h2>
    <p>

    </p>
    <div>
    </div>
</section>

<section id="past-talks">
    <h2>Past Events</h2>
    <p>
        To see talks from our past events head over to our <a href="" target="_blank">YouTube Channel</a>
    </p>
    <div class='embed-container'>
        <iframe src="https://www.youtube.com/embed/videoseries?list=PLIRh22aD5gduWWQDjpwT9_ZAsjDsMmJ0w" frameborder='0' allowfullscreen></iframe>
    </div>
</section>

<section class="sponsors">
    <h3>Our Sponsers</h3>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.cordius.co.uk/" target="__blank">
                <img class="sponsors-logo img-thumbnail" src="/images/sponsors/cordius.png" alt="cordius-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.jetbrains.com/" target="__blank">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/jetbrains.png" alt="jetbrains-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://www.pjgcreations.co.uk/" target="__blank">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/pjgcreations.jpg" alt="pjgcreations-logo">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="https://stkrs.co.uk/" target="__blank">
                <img class="sponsors-logo img-thumbnail img-responsive" src="/images/sponsors/stkrs.png" alt="stkrs-logo">
            </a>
        </div>
    </div>
</section>