@page "/"
<h2>Hello, world!</h2>

Welcome to your new app.
<br>
<br>

<section class="sponsors">
<h3>Our Sponsers</h3>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="https://www.cordius.co.uk/" target="__blank"><img class="sponsors-logo img-thumbnail" src="/images/sponsors/cordius.png" alt="cordius-logo"></a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="https://www.jetbrains.com/" target="__blank"><img class="sponsors-logo img-thumbnail" src="/images/sponsors/jetbrains.png" alt="jetbrains-logo"></a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="https://www.pjgcreations.co.uk/" target="__blank"><img class="sponsors-logo img-thumbnail" src="/images/sponsors/pjgcreations.jpg" alt="pjgcreations-logo"></a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <a href="https://stkrs.co.uk/" target="__blank"><img class="sponsors-logo img-thumbnail" src="/images/sponsors/stkrs.png" alt="stkrs-logo"></a>
  </div>
</div>
</section>
