@page "/Learn"
<div class="container">
    <div class="header-text">
        <h1>Learn</h1>
    </div>

    <div class="card">
        <h2 class="card-header">Learn .NET</h2>
        <h3>Resourses</h3>
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"><a href="https://dotnet.microsoft.com/learn">Microsoft Learn .NET Page</a></li>
            <li class="list-group-item list-group-item-action"><a href="https://docs.microsoft.com/en-gb/learn/paths/csharp-first-steps/?WT.mc_id=cloudskills-stream-ajack"> First Steps with C# Learning Path</a></li>
            <li class="list-group-item list-group-item-action"><a href=" https://docs.microsoft.com/en-gb/dotnet/?WT.mc_id=cloudskills-stream-ajack">.NET Docs</a></li>
            <li class="list-group-item list-group-item-action"><a href=" https://docs.microsoft.com/en-gb/aspnet/core/?view=aspnetcore-3.1&WT.mc_id=cloudskills-stream-ajack">ASP.NET Docs</a></li>
            <li class="list-group-item list-group-item-action"><a href="https://docs.microsoft.com/en-gb/learn/paths/csharp-data/?WT.mc_id=cloudskills-stream-ajack">Work with data in C#</a></li>
        </ul>
    </div>

    <div class="card">
        <h2 class="card-header">Learn Azure</h2>
        <h3>Resourses</h3>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://docs.microsoft.com/en-gb/azure/?product=featured#languages-and-tools&WT.mc_id=cloudskills-stream-ajack">Azure documentation</a></li>
            <li class="list-group-item"><a href="https://docs.microsoft.com/en-gb/azure/azure-functions/functions-create-first-azure-function-azure-cli?pivots=programming-language-csharp&tabs=bash%2Cbrowser&WT.mc_id=cloudskills-stream-ajack">Quickstart: Create a function in Azure that responds to HTTP request</a></li>
        </ul>
    </div>
</div>