@page "/speakerinfo"
@{
    const int tabindex = 0;
}

<div data-bind="page: { id: 'speakerinfo', title: 'Speaker Information - dot net notts', sourceOnShow: 'speakerinfo.html', withOnShow: globalOnShow, sourceCache: true }" style="display: block;">

    <section>
        <div class="header-text">
            <h1 tabindex="@(tabindex)">Speaker Information</h1>
        </div>
        <hr/>
    </section>

    <section id="all-events">
        <div class="row">
            <div class="col-xs-12">
                <h2 tabindex="0">For All Events</h2>

                <!-- Code Of Conduct Section -->
                <h3 tabindex="0" id="code-of-conduct">Code Of Conduct</h3>
                <p tabindex="0">
                    Please familiarise yourself with the <a id="code-of-conduct-link" tabindex="0" href="~/codeofconduct" target="_blank">Code of Conduct</a>
                    before speaking at, or attending the event.
                </p>
                <p tabindex="0">
                    Should you have any concerns regarding the Code of Conduct before, during or after the event, please contact the organisers.
                </p>
                <ul>
                    <li tabindex="0">Use <a tabindex="0" href="mailto:pete@pjgcreations.co.uk" target="_blank">Pete's Email</a> or contact him <a tabindex="0" href="https://twitter.com/dotnetnotts" target="_blank"> on the .NET Notts Twitter</a></li>
                    <li tabindex="0">Use <a tabindex="0" href="mailto:me@jesswhite.co.uk" target="_blank">Jess's Email</a> or <a href="https://twitter.com/JessPWhite" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="virtual-events">
        <div class="row">
            <div class="col-xs-12">
                <h2 tabindex="0">Virtual Meetups</h2>
                
                <p tabindex="0">
                    While social-distancing is still in place, the .NET Notts meetup events have moved to being virtual. This is great because not only can we still gather in a
                    safer environment, but the reach for your talks goes a lot further. We have people not attending the events nationwide.
                </p>
                <p tabindex="0">
                    This section has details for anything you may need to know before presenting at one of the virtual events
                </p>

                <!-- Tech Section -->
                <h3 tabindex="0" id="tech">Tech</h3>
                <p tabindex="0">

                </p>

                <h4 tabindex="0" id="zoom">Zoom</h4>
                <p tabindex="0">
                    The meetups are hosted on Zoom. We suggest you have an install before the event.
                </p>

                <h4 tabindex="0" id="youtube">YouTube Streaming</h4>
                <p tabindex="0">
                    All the talks are streamed to YouTube so that they are accessible to a larger audience.
                </p>

                <h4 tabindex="0" id="hardware">Hardware</h4>
                <p tabindex="0">
                    All the talks are streamed to YouTube so that they are accessible to a larger audience.
                </p>
                <ul>
                    <li>Webcam</li>
                    <li>Microphone</li>
                </ul>
                <br>
            </div>
        </div>
    </section>

    <section id="schedule">
        <h2 tabindex="0">Rough Schedule</h2>
        <p tabindex="0">
            Before the event Pete and Jess will be in touch to make sure you have all the information you may need. All the times listed are in BST.
        </p>

        <h3 tabindex="0" id="event">The Event</h3>
        <div class="col-xs-12">
            <h5 tabindex="0">18.00: Tech check and chatter. </h5>
            <p tabindex="0">
                This is the chance to do any last minute checks for tech and sharing with an organiser. At this point speakers can decide between themselves
                the order in which they will present. None of the attendees will be present at this point.
            </p>
            <h5 tabindex="0">18.30: Event Opened. </h5>
            <p tabindex="0">
                Attendees will be allowed into the room and there will be some general chit-chat. The event will be opened with some slides from the organisers.
            </p>
            <h5 tabindex="0">19.00: First Talk (if there are two). </h5>
            <p tabindex="0">
                We can adapt to other talk lengths if needed.
            </p>
            <h5 tabindex="0">20.00: Break. </h5>
            <p tabindex="0">
                Quick 10 minute break to grab a drink and stretch your legs.
            </p>
            <h5 tabindex="0">20.10: Second Talk (if there are two). </h5>
            <p tabindex="0">
                We can adapt to other talk lengths if needed.
            </p>
            <h5 tabindex="0">21.10: Meetup Finished </h5>
            <p tabindex="0">
                The Zoom call is left open for anyone who wants to keep chatting.
            </p>
            <br>
        </div>
    </section>

    <section id="social-media">
        <div>
            <h2 tabindex="0">Social Media</h2>
            <ul>
                <li tabindex="0">
                    If you want to take photos containing the attendees images, please let us know beforehand. We will arrange a point where we request that anyone who doe not
                    want to be included in a photo turn off their cameras.
                </li>
                <br>
                <li tabindex="0">
                    Feel free to share the recordings of your talks.
                </li>
            </ul>
        </div>
    </section>
</div>