@page "/speak"
<main>
<div class="header-text">
    <h1>Speak</h1>
</div>

<h2>What Can I Talk About</h2>

<span>
    Anything related to .NET! This could be a technology you have worked with, are working with. It could be managing a .NET team or project. If it is about .NET or working in or with .NET, we want to hear about it!
</span>

<span>
    <b>You don't have to be an expert or consider yourself an expert.</b> Everyone has different points of view and experiences. Everyone has something they can share that someone else will learn from and enjoy. Give speaking a go!
</span>

<h2>How To Submit</h2>

<span>First of all - YAY! - we are delighted you would like to come do share your content at .NET Notts! To submit a talk please click the button below and fill in the the Google form</span>

<span>To fill in the form you will need the following:</span>

<ul>
    <li><b>Name</b></li>
    <li><b>About you</b> - A short bio about yourself. This will be used for talk announcements.</li>
    <li><b>Email address</b> - email is the primary way the organisers will get in touch.</li>
    <li><b>Talk title</b> - The title of the talk you would like to present.</li>
    <li><b>Talk description</b> - A short description of your talk. This will be used for talk announcements.</li>
    <li><b>Photo of you</b> - Preferably a picture with only you in it. This will be used for talk announcements.</li>
</ul>

<span>
    You can submit as many talks as you wish. There is no limit to form entries.
</span>

<div class="center">
    <button class="btn-rounded">
        <a href="https://forms.gle/XXjdqUd4e4efYxKQ8" ontarget="_blank">
            Submit your talk here
        </a>
    </button>
</div>

<h2>What Happens Next?</h2>

<span>Your form submission will be forwarded onto the .NET Notts organisers. One of us will then get in touch by email to talk to you about the talk and try to find a suitable date for you to present.</span>
</main>
@code {

}
