@{
    const int tabindex = 0;
}

<div class="main-footer-container">

    <div class="footer-menu-links">
        <NavLink class="footer-link" href="contactus" tabindex="@(tabindex)">
            Contact Us
        </NavLink>
        <NavLink class="footer-link" href="codeofconduct" tabindex="@(tabindex)">
            Code Of Conduct
        </NavLink>
    </div>

</div>