<div class="main-nav-container">

    <a class="navbar-brand" href="">
        <img src="/images/logo.png" class="main-logo" alt=".NET Notts">
    </a>

    <div class="nav-menu-links">
        <NavLink class="nav-link" href="/">
            Home
        </NavLink>
        <NavLink class="nav-link" href="events">
            Events
        </NavLink>
        <NavLink class="nav-link" href="speak">
            Speak
        </NavLink>
        <NavLink class="nav-link" href="Learn">
            Learn
        </NavLink>
        <NavLink class="nav-link" href="speakerinfo">
            Speaker Info
        </NavLink>
        <NavLink class="nav-link" href="contactus">
            Contact Us
        </NavLink>
        <NavLink class="nav-link" href="codeofconduct">
            Code Of Conduct
        </NavLink>

    </div>
    
</div>
